[binaries]
c = 'arm-none-eabi-gcc'
cpp = 'arm-none-eabi-g++'
ld = 'arm-none-eabi-gcc'
ar = 'arm-none-eabi-ar'
as = 'arm-none-eabi-as'

[host_machine]
system = 'bare'
cpu_family = 'armv7m'
cpu = 'cortex-m4'
endian = 'little'

[properties]
c_args = ['-c',
        '-Os',
        '-mcpu=cortex-m4',
        '-mthumb',
        '-pedantic',
        '-DSTM32F405xx',
        '-g',
        '-fstack-usage',
        '-ffunction-sections',
        '-fdata-sections']

c_link_args = ['-Wl,--gc-sections',
        '-Os',
        '-mcpu=cortex-m4',
        '--specs=nosys.specs',
        '-mthumb',
        '-Wl,-gc-sections',
        '-Wl,-T../src/target/mkl25/devices/MKL25Z4/gcc/MKL25Z128xxx4_flash.ld']

cpp_link_args = ['-Wl,--gc-sections',
        '-Os',
        '-mcpu=cortex-m4',
        '--specs=nosys.specs',
        '-mthumb',
        '-Wl,-gc-sections',
        '-Wl,-T../src/target/mkl25/devices/MKL25Z4/gcc/MKL25Z128xxx4_flash.ld']
target_includes = ['./src/target/mkl25/devices/MKL25Z4/'
    ,'./src/target/mkl25/CMSIS/Include']
target_sources = ['./src/target/mkl25/devices/MKL25Z4/gcc/startup_MKL25Z4.S'
   ,'./src/target/mkl25/devices/MKL25Z4/system_MKL25Z4.c']
